Problem statement:

A Grocery Store shared the transactional data with you. Your job is to identify the most popular combos that can be suggested to the Grocery Store chain after a thorough analysis of the most commonly occurring sets of menu items in the customer orders. The Store doesnâ€™t have any combo meals. Can you suggest the best combo meals?

Data: dataset_group.csv

In [1]:
from google.colab import files
uploaded = files.upload()

Saving dataset_group.csv to dataset_group.csv

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from scipy import stats
import warnings 
warnings.filterwarnings( "ignore")

In [3]:
df = pd.read_csv("dataset_group.csv")

Data Analysis

In [4]:
df.head()

         Date  Order_id        Product
0  01-01-2018         1         yogurt
1  01-01-2018         1           pork
2  01-01-2018         1  sandwich bags
3  01-01-2018         1     lunch meat
4  01-01-2018         1   all- purpose

In [5]:
df.shape

(20641, 3)

In [6]:
print("The no. of rows: ",df.shape[0], "\n""The no. of columns: ",df.shape[1])

The no. of rows:  20641
The no. of columns:  3

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20641 entries, 0 to 20640
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      20641 non-null  object
 1   Order_id  20641 non-null  int64
 2   Product   20641 non-null  object
dtypes: int64(1), object(2)
memory usage: 483.9+ KB

In [8]:
df.dtypes

Date        object
Order_id     int64
Product     object
dtype: object

In [9]:
df.isnull().sum()

Date        0
Order_id    0
Product     0
dtype: int64

In [10]:
df.describe()

           Order_id
count  20641.000000
mean     575.986289
std      328.557078
min        1.000000
25%      292.000000
50%      581.000000
75%      862.000000
max     1139.000000

In [11]:
print("The no. of duplicated rows is: ",df.duplicated().sum())

The no. of duplicated rows is:  4730

In [16]:
df['Product'].value_counts().sort_index()

all- purpose                    551
aluminum foil                   566
bagels                          573
beef                            561
butter                          555
cereals                         591
cheeses                         578
coffee/tea                      565
dinner rolls                    567
dishwashing liquid/detergent    551
eggs                            570
flour                           555
fruits                          529
hand soap                       502
ice cream                       579
individual meals                544
juice                           570
ketchup                         548
laundry detergent               542
lunch meat                      573
milk                            555
mixes                           554
paper towels                    556
pasta                           542
pork                            531
poultry                         640
sandwich bags                   536
sandwich loaves                 523
shampoo                         562
soap                            574
soda                            597
spaghetti sauce                 536
sugar                           533
toilet paper                    569
tortillas                       543
waffles                         575
yogurt                          545
Name: Product, dtype: int64

In [12]:
print('The total number of unique dates are',df['Date'].nunique())

The total number of unique dates are 603

In [13]:
print('The total number of unique order id are',df['Order_id'].nunique())

The total number of unique order id are 1139

In [14]:
print('The total number of unique products are',df['Product'].nunique())

The total number of unique products are 37

In [15]:
df['Product'].unique()

array(['yogurt', 'pork', 'sandwich bags', 'lunch meat', 'all- purpose',
       'flour', 'soda', 'butter', 'beef', 'aluminum foil', 'dinner rolls',
       'shampoo', 'mixes', 'soap', 'laundry detergent', 'ice cream',
       'toilet paper', 'hand soap', 'waffles', 'cheeses', 'milk',
       'dishwashing liquid/detergent', 'individual meals', 'cereals',
       'tortillas', 'spaghetti sauce', 'ketchup', 'sandwich loaves',
       'poultry', 'bagels', 'eggs', 'juice', 'pasta', 'paper towels',
       'coffee/tea', 'fruits', 'sugar'], dtype=object)

In [16]:
df['Date'].unique()

array(['01-01-2018', '02-01-2018', '03-01-2018', '04-01-2018',
       '05-01-2018', '06-01-2018', '07-01-2018', '08-01-2018',
       '09-01-2018', '10-01-2018', '11-01-2018', '12-01-2018',
       '13-01-2018', '14-01-2018', '15-01-2018', '16-01-2018',
       '17-01-2018', '18-01-2018', '19-01-2018', '20-01-2018',
       '21-01-2018', '22-01-2018', '23-01-2018', '24-01-2018',
       '25-01-2018', '26-01-2018', '27-01-2018', '28-01-2018',
       '29-01-2018', '30-01-2018', '31-01-2018', '01-02-2018',
       '02-02-2018', '03-02-2018', '04-02-2018', '05-02-2018',
       '06-02-2018', '07-02-2018', '08-02-2018', '09-02-2018',
       '10-02-2018', '11-02-2018', '12-02-2018', '13-02-2018',
       '14-02-2018', '15-02-2018', '16-02-2018', '17-02-2018',
       '18-02-2018', '19-02-2018', '20-02-2018', '21-02-2018',
       '22-02-2018', '23-02-2018', '24-02-2018', '25-02-2018',
       '26-02-2018', '27-02-2018', '28-02-2018', '01-03-2018',
       '02-03-2018', '03-03-2018', '04-03-2018', '05-03-2018',
       '06-03-2018', '07-03-2018', '08-03-2018', '09-03-2018',
       '10-03-2018', '11-03-2018', '12-03-2018', '13-03-2018',
       '14-03-2018', '15-03-2018', '16-03-2018', '17-03-2018',
       '18-03-2018', '19-03-2018', '20-03-2018', '21-03-2018',
       '22-03-2018', '23-03-2018', '24-03-2018', '25-03-2018',
       '26-03-2018', '27-03-2018', '28-03-2018', '29-03-2018',
       '30-03-2018', '31-03-2018', '01-04-2018', '02-04-2018',
       '03-04-2018', '04-04-2018', '05-04-2018', '06-04-2018',
       '07-04-2018', '08-04-2018', '09-04-2018', '10-04-2018',
       '11-04-2018', '12-04-2018', '13-04-2018', '14-04-2018',
       '15-04-2018', '16-04-2018', '17-04-2018', '18-04-2018',
       '19-04-2018', '20-04-2018', '21-04-2018', '22-04-2018',
       '23-04-2018', '24-04-2018', '25-04-2018', '26-04-2018',
       '27-04-2018', '28-04-2018', '29-04-2018', '30-04-2018',
       '01-05-2018', '02-05-2018', '03-05-2018', '04-05-2018',
       '05-05-2018', '06-05-2018', '07-05-2018', '08-05-2018',
       '09-05-2018', '10-05-2018', '11-05-2018', '12-05-2018',
       '13-05-2018', '14-05-2018', '15-05-2018', '16-05-2018',
       '17-05-2018', '18-05-2018', '19-05-2018', '20-05-2018',
       '21-05-2018', '22-05-2018', '23-05-2018', '24-05-2018',
       '25-05-2018', '26-05-2018', '27-05-2018', '28-05-2018',
       '29-05-2018', '30-05-2018', '31-05-2018', '01-06-2018',
       '02-06-2018', '03-06-2018', '04-06-2018', '05-06-2018',
       '06-06-2018', '07-06-2018', '08-06-2018', '09-06-2018',
       '10-06-2018', '11-06-2018', '12-06-2018', '13-06-2018',
       '14-06-2018', '15-06-2018', '16-06-2018', '17-06-2018',
       '18-06-2018', '19-06-2018', '20-06-2018', '21-06-2018',
       '22-06-2018', '23-06-2018', '24-06-2018', '25-06-2018',
       '26-06-2018', '27-06-2018', '28-06-2018', '29-06-2018',
       '30-06-2018', '01-07-2018', '02-07-2018', '03-07-2018',
       '04-07-2018', '05-07-2018', '06-07-2018', '07-07-2018',
       '08-07-2018', '09-07-2018', '10-07-2018', '11-07-2018',
       '12-07-2018', '13-07-2018', '14-07-2018', '15-07-2018',
       '16-07-2018', '17-07-2018', '18-07-2018', '19-07-2018',
       '20-07-2018', '21-07-2018', '22-07-2018', '23-07-2018',
       '24-07-2018', '25-07-2018', '26-07-2018', '27-07-2018',
       '28-07-2018', '29-07-2018', '30-07-2018', '31-07-2018',
       '01-08-2018', '02-08-2018', '03-08-2018', '04-08-2018',
       '05-08-2018', '06-08-2018', '07-08-2018', '08-08-2018',
       '09-08-2018', '10-08-2018', '11-08-2018', '12-08-2018',
       '13-08-2018', '14-08-2018', '15-08-2018', '16-08-2018',
       '17-08-2018', '18-08-2018', '19-08-2018', '20-08-2018',
       '21-08-2018', '22-08-2018', '23-08-2018', '24-08-2018',
       '25-08-2018', '26-08-2018', '27-08-2018', '28-08-2018',
       '29-08-2018', '30-08-2018', '31-08-2018', '01-09-2018',
       '02-09-2018', '03-09-2018', '04-09-2018', '05-09-2018',
       '06-09-2018', '07-09-2018', '08-09-2018', '09-09-2018',
       '10-09-2018', '11-09-2018', '12-09-2018', '13-09-2018',
       '14-09-2018', '15-09-2018', '16-09-2018', '17-09-2018',
       '18-09-2018', '19-09-2018', '20-09-2018', '21-09-2018',
       '22-09-2018', '23-09-2018', '24-09-2018', '25-09-2018',
       '26-09-2018', '27-09-2018', '28-09-2018', '29-09-2018',
       '30-09-2018', '01-01-2019', '02-01-2019', '03-01-2019',
       '04-01-2019', '05-01-2019', '06-01-2019', '07-01-2019',
       '08-01-2019', '09-01-2019', '10-01-2019', '11-01-2019',
       '12-01-2019', '13-01-2019', '14-01-2019', '15-01-2019',
       '16-01-2019', '17-01-2019', '18-01-2019', '19-01-2019',
       '20-01-2019', '21-01-2019', '22-01-2019', '23-01-2019',
       '24-01-2019', '25-01-2019', '26-01-2019', '27-01-2019',
       '28-01-2019', '29-01-2019', '30-01-2019', '31-01-2019',
       '01-02-2019', '02-02-2019', '03-02-2019', '04-02-2019',
       '05-02-2019', '06-02-2019', '07-02-2019', '08-02-2019',
       '09-02-2019', '10-02-2019', '11-02-2019', '12-02-2019',
       '13-02-2019', '14-02-2019', '15-02-2019', '16-02-2019',
       '17-02-2019', '18-02-2019', '19-02-2019', '20-02-2019',
       '21-02-2019', '22-02-2019', '23-02-2019', '24-02-2019',
       '25-02-2019', '26-02-2019', '27-02-2019', '28-02-2019',
       '01-03-2019', '02-03-2019', '03-03-2019', '04-03-2019',
       '05-03-2019', '06-03-2019', '07-03-2019', '08-03-2019',
       '09-03-2019', '10-03-2019', '11-03-2019', '12-03-2019',
       '13-03-2019', '14-03-2019', '15-03-2019', '16-03-2019',
       '17-03-2019', '18-03-2019', '19-03-2019', '20-03-2019',
       '21-03-2019', '22-03-2019', '23-03-2019', '24-03-2019',
       '25-03-2019', '26-03-2019', '27-03-2019', '28-03-2019',
       '29-03-2019', '30-03-2019', '31-03-2019', '01-04-2019',
       '02-04-2019', '03-04-2019', '04-04-2019', '05-04-2019',
       '06-04-2019', '07-04-2019', '08-04-2019', '09-04-2019',
       '10-04-2019', '11-04-2019', '12-04-2019', '13-04-2019',
       '14-04-2019', '15-04-2019', '16-04-2019', '17-04-2019',
       '18-04-2019', '19-04-2019', '20-04-2019', '21-04-2019',
       '22-04-2019', '23-04-2019', '24-04-2019', '25-04-2019',
       '26-04-2019', '27-04-2019', '28-04-2019', '29-04-2019',
       '30-04-2019', '01-05-2019', '02-05-2019', '03-05-2019',
       '04-05-2019', '05-05-2019', '06-05-2019', '07-05-2019',
       '08-05-2019', '09-05-2019', '10-05-2019', '11-05-2019',
       '12-05-2019', '13-05-2019', '14-05-2019', '15-05-2019',
       '16-05-2019', '17-05-2019', '18-05-2019', '19-05-2019',
       '20-05-2019', '21-05-2019', '22-05-2019', '23-05-2019',
       '24-05-2019', '25-05-2019', '26-05-2019', '27-05-2019',
       '28-05-2019', '29-05-2019', '30-05-2019', '31-05-2019',
       '01-06-2019', '02-06-2019', '03-06-2019', '04-06-2019',
       '05-06-2019', '06-06-2019', '07-06-2019', '08-06-2019',
       '09-06-2019', '10-06-2019', '11-06-2019', '12-06-2019',
       '13-06-2019', '14-06-2019', '15-06-2019', '16-06-2019',
       '17-06-2019', '18-06-2019', '19-06-2019', '20-06-2019',
       '21-06-2019', '22-06-2019', '23-06-2019', '24-06-2019',
       '25-06-2019', '26-06-2019', '27-06-2019', '28-06-2019',
       '29-06-2019', '30-06-2019', '01-07-2019', '02-07-2019',
       '03-07-2019', '04-07-2019', '05-07-2019', '06-07-2019',
       '07-07-2019', '08-07-2019', '09-07-2019', '10-07-2019',
       '11-07-2019', '12-07-2019', '13-07-2019', '14-07-2019',
       '15-07-2019', '16-07-2019', '17-07-2019', '18-07-2019',
       '19-07-2019', '20-07-2019', '21-07-2019', '22-07-2019',
       '23-07-2019', '24-07-2019', '25-07-2019', '26-07-2019',
       '27-07-2019', '28-07-2019', '29-07-2019', '30-07-2019',
       '31-07-2019', '01-08-2019', '02-08-2019', '03-08-2019',
       '04-08-2019', '05-08-2019', '06-08-2019', '07-08-2019',
       '08-08-2019', '09-08-2019', '10-08-2019', '11-08-2019',
       '12-08-2019', '13-08-2019', '14-08-2019', '15-08-2019',
       '16-08-2019', '17-08-2019', '18-08-2019', '19-08-2019',
       '20-08-2019', '21-08-2019', '22-08-2019', '23-08-2019',
       '24-08-2019', '25-08-2019', '26-08-2019', '27-08-2019',
       '28-08-2019', '29-08-2019', '30-08-2019', '31-08-2019',
       '01-09-2019', '02-09-2019', '03-09-2019', '04-09-2019',
       '05-09-2019', '06-09-2019', '07-09-2019', '08-09-2019',
       '09-09-2019', '10-09-2019', '11-09-2019', '12-09-2019',
       '13-09-2019', '14-09-2019', '15-09-2019', '16-09-2019',
       '17-09-2019', '18-09-2019', '19-09-2019', '20-09-2019',
       '21-09-2019', '22-09-2019', '23-09-2019', '24-09-2019',
       '25-09-2019', '26-09-2019', '27-09-2019', '28-09-2019',
       '29-09-2019', '30-09-2019', '01-01-2020', '02-01-2020',
       '03-01-2020', '04-01-2020', '05-01-2020', '06-01-2020',
       '07-01-2020', '08-01-2020', '09-01-2020', '10-01-2020',
       '11-01-2020', '12-01-2020', '13-01-2020', '14-01-2020',
       '15-01-2020', '16-01-2020', '17-01-2020', '18-01-2020',
       '19-01-2020', '20-01-2020', '21-01-2020', '22-01-2020',
       '23-01-2020', '24-01-2020', '25-01-2020', '26-01-2020',
       '27-01-2020', '28-01-2020', '29-01-2020', '30-01-2020',
       '31-01-2020', '01-02-2020', '02-02-2020', '03-02-2020',
       '04-02-2020', '05-02-2020', '06-02-2020', '07-02-2020',
       '08-02-2020', '09-02-2020', '10-02-2020', '11-02-2020',
       '12-02-2020', '13-02-2020', '14-02-2020', '15-02-2020',
       '16-02-2020', '17-02-2020', '18-02-2020', '19-02-2020',
       '20-02-2020', '21-02-2020', '22-02-2020', '23-02-2020',
       '24-02-2020', '25-02-2020', '26-02-2020'], dtype=object)